name: Reusable - Deployment
on:
    workflow_call: 
        secrets:
            k8s_kubeconfig:
                required: true
            mongo_uri:
                required: true
            cert:
                required: true
            key:
                required: true
        inputs:
            NAMESPACE:
                required: true
                type: string
            REPLICAS:
                required: true
                type: string
            DOCKER_USER:
                required: true
                type: string
        outputs:
          application_url:
            value: ${{ jobs.reuse-deploy.outputs.DEV_URL }}
        
jobs:
    reuse-deploy:
      runs-on: ubuntu-latest
      outputs:
        DEV_URL: ${{ steps.Get_Url.outputs.URL}}
      environment: 
        name: development
        url: https://${{ steps.Get_Url.outputs.URL }}
      steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
        - name: Setup Kubectl
          uses: azure/setup-kubectl@v4
        - name: Set KubeConfig
          uses: azure/k8s-set-context@v4
          with:
            method: kubeconfig
            kubeconfig: ${{ secrets.k8s_kubeconfig }}
            context: kubernetes-admin@kubernetes
        - name: Check Namespace Exist
          run: |
            if ! kubectl get namespace ${{ inputs.NAMESPACE }} > /dev/null 2>&1 ; then
              kubectl create namespace ${{ inputs.NAMESPACE }}
            else
              echo "Namespace ${{ inputs.NAMESPACE }} Already Exist"
            fi
        - name: Create Secret 
          run: |
            kubectl -n ${{ inputs.NAMESPACE }} create secret generic mongo-db-creds --from-literal=MONGO_URI=${{ secrets.mongo_uri }} \
            --save-config \
            --dry-run=client \
            -o yaml | kubectl apply -f -
        - name: create tls secret
          run: |
            set -euo pipefail
            echo "${{ secrets.CERT }}" > tls.crt
            echo "${{ secrets.KEY }}" > tls.key
            kubectl -n ${{ inputs.NAMESPACE }} create secret tls solar --cert=tls.crt \
            --key=tls.key \
            --dry-run=client \
            -o yaml | kubectl apply -f -
        - name: Replace Token Manifest
          uses: cschleiden/replace-tokens@v1
          with:
            tokenPrefix: '_{_'
            tokenSuffix: '_}_'
            files: '["kubernetes/development/*.yaml"]'
          env:
            REPLICAS: ${{ inputs.REPLICAS }}
            NAMESPACE: ${{ inputs.NAMESPACE }}
            K8S_IMAGE: ${{ inputs.DOCKER_USER}}/solar-system:${{ github.sha }}
        - name: Apply Deployment
          run: |
            kubectl apply -f kubernetes/development/
        - name: Get URL
          id: Get_Url
          run: |
            echo "URL=$(kubectl get ingress -n ${{ inputs.NAMESPACE }} ingress-solar -o jsonpath="{.spec.rules[0].host}")" >> "$GITHUB_OUTPUT"