name: CI Slack Notify

on:
  repository_dispatch:
    types: [solar-ci-notify]

jobs:
  slack:
    runs-on: ubuntu-latest
    steps:
      - name: Decide color from workflow result
        id: color
        run: |
          conclusion="${{ github.event.client_payload.conclusion }}"   # success/failure/cancelledd

          if [ "$conclusion" = "success" ]; then
            echo "color=good" >> "$GITHUB_OUTPUT"
          elif [ "$conclusion" = "cancelled" ]; then
            echo "color=warning" >> "$GITHUB_OUTPUT"
          else
            echo "color=danger" >> "$GITHUB_OUTPUT"
          fi

      - name: Send Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR:   ${{ steps.color.outputs.color }}
          SLACK_MESSAGE: |
            *Workflow:*  ${{ github.event.client_payload.service }}
            *Branch:* ${{ github.event.client_payload.branch }}
            *Conclusion:* ${{ github.event.client_payload.conclusion }}
            *Run:* <${{ github.event.client_payload.run_url }}|Open in GitHub>
            *:hammer_and_wrench: Triggered By ${{ github.actor }}
            *Dev-URL:* ${{ github.event.client_payload.dev_url }}
            *Prod-URL:* ${{ github.event.client_payload.prod_url }}
